.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PINT-Personal/FileContentIndex/6a22c5ea-c877-41d1-a46f-aa2228b0ab85.vsidx
.vs/PINT-Personal/FileContentIndex/bea73e4c-71e1-4e55-a775-9f966c838e5e.vsidx
.vs/PINT-Personal/v17/.wsuo
.vs/PINT-Personal/FileContentIndex/d868d765-2b5a-40d1-a144-06662214524b.vsidx
.vs/PINT-Personal/v17/Browse.VC.db
ESP/.vscode/extensions.json
